<% @recent_audit_items.each do |audit_item| %>
  <div class="homepage-block col-md-3">
    <h4><%= audit_item.user.full_name %></h4>
    <p><strong>Started</strong>: <%= audit_item.start_date %></p>
    <p><strong>Date verified</strong>: <%= audit_item.date_verified || status_label("pending") %></p>
    <p><strong>Status</strong>: <%= status_label audit_item.status %></p>
  </div>
<% end %>
