@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";
@import "bourbon/bourbon";
@import "admin_homepage";
@import "employee_homepage";

.custom-nav {
  margin-top: 15px;
}

.index-icons {
  font-size: 1.5em;
}

.index-icons:hover {
  text-decoration: none;
  color: black;
}

.pending-homepage {
  margin: 2rem 0;
  background-color: #E3E3E3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2rem;
}
